---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Freedom Stack v2">
  <section class="mx-auto flex max-w-md flex-col gap-4 p-6">
    <h1 class="heading-1">404</h1>
    <p>You looking for this?</p>
    <iframe
      loading="lazy"
      class="bg-secondary aspect-video w-full rounded-lg"
      src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?si=xs8QhylmmvpyeGmq&autoplay=1"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </section>
</Layout>
