---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Freedom Stack v2">
  <section class="mx-auto max-w-md p-6 flex flex-col gap-4">
    <h1 class="heading-1">Freedom Stack v2</h1>
    <a href="/admin" class="btn btn-primary">Open Bknd Admin</a>
  </section>
</Layout>
