---
import { getApi } from "@/bknd.ts";
import Layout from "@/layouts/Layout.astro";
const api = await getApi(Astro, { verify: true, mode: "dynamic" });

const { data } = await api.data.readMany("posts");
const user = api.getUser();
---

<Layout title="Freedom Stack v2">
  <section class="mx-auto flex max-w-md flex-col gap-4 p-6">
    <h1 class="heading-1">Freedom Stack v2</h1>
    <a href="/admin" class="btn btn-primary">Open Bknd Admin</a>
    {user?.email ? <p>Logged in as {user.email}</p> : <p>Not logged in</p>}
  </section>
</Layout>
