---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Login">
  <section x-data="login" class="mx-auto flex max-w-md flex-col gap-4 p-6">
    <div class="alert bg-secondary">
      <section>
        <p>Email: <code>admin@example.com</code></p>
        <p>Password: <code>password</code></p>
        <button @click="pasteAdminCredentials" class="btn-outline w-fit">Login as Admin</button>
      </section>
    </div>
    <div class="card w-full">
      <header>
        <h2>Login to your account</h2>
        <p>Enter your details below to login to your account</p>
      </header>
      <section>
        <form method="post" action="/api/auth/password/login" class="form grid gap-6">
          <div class="grid gap-2">
            <label for="demo-card-form-email">Email</label>
            <input x-model="email" name="email" type="email" id="demo-card-form-email" />
          </div>
          <div class="grid gap-2">
            <div class="flex items-center gap-2">
              <label for="demo-card-form-password">Password</label>
            </div>
            <input x-model="password" name="password" type="password" id="demo-card-form-password" />
          </div>
          <button type="submit" class="btn w-full">Login</button>
        </form>
      </section>
      <footer class="flex flex-col items-center gap-2">
        <p class="mt-4 text-center text-sm">
          Don't have an account? <a href="/register" class="underline-offset-4 hover:underline">Sign up</a>
        </p>
      </footer>
    </div>
  </section>

  <script>
    import Alpine from "alpinejs";

    document.addEventListener("alpine:init", () => {
      Alpine.data("login", () => ({
        email: "",
        password: "",
        pasteAdminCredentials() {
          this.email = "admin@example.com";
          this.password = "password";
        }
      }));
    });
  </script>
</Layout>
