---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Register">
  <section class="mx-auto flex max-w-md flex-col gap-4 p-6">
    <div class="card w-full">
      <header>
        <h2>Register for an account</h2>
      </header>
      <section>
        <form method="post" class="form grid gap-6" action="/api/auth/password/register">
          <div class="grid gap-2">
            <label for="demo-card-form-email">Email</label>
            <input name="email" type="email" id="demo-card-form-email" />
          </div>
          <div class="grid gap-2">
            <div class="flex items-center gap-2">
              <label for="demo-card-form-password">Password</label>
            </div>
            <input name="password" type="password" id="demo-card-form-password" />
          </div>
          <button type="submit" class="btn w-full">Register</button>
        </form>
      </section>
      <footer class="flex flex-col items-center gap-2">
        <p class="mt-4 text-center text-sm">
          Already have an account? <a href="/login" class="underline-offset-4 hover:underline">Sign in</a>
        </p>
      </footer>
    </div>
  </section>
</Layout>
