---
import "@/styles/global.css";

interface Props {
  title: string;
}

const { title = "Freedom Stack v2" } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-(background) text-(foreground)">
    <slot />
  </body>

  {/* AlpineJS */}
  <script>
    // @ts-ignore - No up to date types for this package
    import Alpine from "alpinejs";
    // @ts-ignore - No types for this package
    import ajax from "@imacrayon/alpine-ajax";
    window.Alpine = Alpine;
    Alpine.plugin(ajax);
    Alpine.start();
  </script>
</html>
