---
import { Admin } from "bknd/ui";
import "bknd/dist/styles.css";
import { getApi } from "@/utils/bknd";

const api = await getApi(Astro.request.headers, { verify: true });
const user = api.getUser() ?? undefined;
---

<html>
  <body>
    <Admin
      withProvider={{
        user
      }}
      config={{
        basepath: "/admin",
        theme: "system",
        logo_return_path: "/../"
      }}
      client:only="react"
    />
  </body>
</html>
