---
import { Admin } from "bknd/ui";
import "bknd/dist/styles.css";
import { Api, type ApiOptions } from "bknd/client";

type TAstro = {
   request: Request;
};

type Options = {
   mode?: "static" | "dynamic";
} & Omit<ApiOptions, "host"> & {
      host?: string;
   };

async function getApi(Astro: TAstro, options: Options = { mode: "static" }) {
   const api = new Api({
      host: new URL(Astro.request.url).origin,
      headers: options.mode === "dynamic" ? Astro.request.headers : undefined
   });
   await api.verifyAuth();
   return api;
}

const api = await getApi(Astro, { mode: "dynamic" });
const user = api.getUser() ?? undefined;
---

<html>
   <body>
      <Admin
         withProvider={{
            user
         }}
         config={{
            basepath: "/admin",
            theme: "dark",
            logo_return_path: "/../"
         }}
         client:only="react"
      />
   </body>
</html>
